// @mixin test_mixin {
//     background-color: rgba($color: #8f1717, $alpha: 1.0);
//     color: blueviolet;
// }

// @mixin 

@mixin espace {
    display: flex;
    justify-content: center;
    align-items: center;
}