section:nth-of-type(2) {
    width: 100%;
    height: 100%;
    @include espace;
    margin-bottom: 10vh;

    & .section2_1 {
        width: 80%;
        height: auto;
        margin: 10px;
        gap: 3%;
        @include espace;
    }
    & .section2enfant {
        @include espace;
        flex-direction: column;
        text-align: center;background-color: rgb(216, 216, 216);
        padding: 10px;
        border-radius: 10px;
    }
    .icone {
        width: 30px;
        height: 30px;
        background-color: rgba($color: #eaeaea, $alpha: 1.0);
        border-radius: 50px;
        padding: 5px;
    }
    & .section2_2 {
        margin: 10px;
        gap: 20px;
        @include espace;
    }
    & .flatidesign {
        @include espace
    }
}